.row
  .span12
    %h1 Modifying harvesting ritual
.row
  = form_tag task_path(@task), :method => :put, :class => 'form-inline', :id => 'start_harvest_form' do
    %span#description-control-group.control-group
      .input-prepend
        %span.add-on
          %i.icon-wrench
        = text_field_tag 'task[description]', @task.description, {:class => 'span8', :placeholder => 'Description'}
    %span#time_spent-control-group.control-group
      .input-prepend
        %span.add-on
          %i.icon-time
        = text_field_tag 'task[time_spent]', @task.current_timer[:diff], {:class => 'span2'}
    %span
      %button.btn.btn-primary{ :type => 'submit' }
        %i.icon-ok.icon-white
        Apply and get prepared
